.container {
    width: 80%;
    height: 55%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 400px;
    max-height: 500px;
    min-width: 300px;
    min-height: 330px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.slides {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide-item {
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 330px;
    z-index: 1;
    border-radius: 30px;
    object-fit: cover;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

#prev {
    left: 5px;
}

#next {
    right: 5px;
}

.dots-container {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}

.dot-item {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 7px;
    background: white;
    cursor: pointer;
}

.dot-item:last-child {
    margin: 0;
}

.active {
    background: rgb(130, 130, 132);
    transition: all 0.3s;
	-webkit-transform: all 0.3s;
	-moz-transform: all 0.3s;
}

body {
	background: #000428; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #004e92, #000428); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#004e92,
		#000428
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}